<h1>秀出來啊</h1>

<%= @event.name %>
<p>Category: <%= @event.category.name %></p>
<%= simple_format(@event.description) %>

<p>Group:
  <%= @event.groups.each do |g|%>
    <%= g.name %>
  <% end %>
</p>
<%= link_to "首頁", root_path %>